@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');


#botonera{
    background-color: #1E1E26;
}

#botonera img{
    width: 150px;
}

#botonera ul li a{
    color: aliceblue;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

#botonera ul li a:hover{
    color: orange;
}
.navbar-toggler{
    background-color: aliceblue;
}
.bg-azul{
    background-color: #1E1E26;
}

.bg-deep{
    background-color: aliceblue;
}
h2{
    color: #1E1E26;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4em;
    font-weight: 600;
}
h1{
    font-size: 4em;
    align-items: center;
}
p{
    font-size: 1.2rem;
}
h3{
    color: aliceblue;
    align-items: center;
}
h4{
    font-size: 16px;
}
.form-label{
    color: aliceblue;
}
#contact{
    width: 70%;
    align-items: center;
    margin-left: 15%;
    margin-top: 1%;
    margin-bottom: 1%;
}
figure{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
figcaption{
    color: #235069;
    font-family:'Playfair Display SC', sans-serif;
    font-weight:bold;
    font-size: 4rem;
    margin-left: 100px;
    margin: 8px, 8px;
}
.img-pag{
    width: 55%;
    height: 550px;
}
.listPag{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-weight: 700;
}
.listPag li{
    margin: 10px;
}
.formulario{
    height: 20%;
    color: #235069;
}
#terceraSec{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text.p{
    font-size: 3.5rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E1E26;
    color: aliceblue;
}
footer img{
    width: 30px;
    height: 30px;
    justify-content: flex-start;
    cursor: pointer;
}
footer img:hover{
    opacity: 50%;
}

@media ( max-width:574px){
.text.p{
    font-size: 12px;
}
figure{
    display: flex;
    flex-direction: column;
}
figure img{
    width: 100%;
}
figcaption{
    font-size: 45px;
    padding-right: 20%;
}
}
